.wx-swiper-dot{
    margin-bottom:48rpx;
}
.nav-icon{
    width: 100rpx;
    height: 100rpx;
    display: block;
    margin: 0 auto;
}
.nav-item{
    flex: 1;
    text-align: center;
    overflow: hidden;
    Text{
        font-family: PingFangSC-Regular;
        font-size: 28rpx;
        color: #333333;
    }
}
.nav-list{
    display: flex;
    padding: 30rpx;
}
.nav-icon:nth-child(1){
    box-shadow: 0 4px 32px -4px rgba(0,120,226,0.20);
}
.nav-icon:nth-child(2){
    box-shadow: 0 4px 32px -4px rgba(121,225,194,0.50);
}
.nav-icon:nth-child(3){
    box-shadow: 0 4px 32px -4px rgba(248,188,54,0.50);
}
.nav-icon:nth-child(4){
    box-shadow: 0 4px 32px -4px rgba(243,123,82,0.50);
}
.test-warp{
    margin-top: -30rpx;
}
.login-modal{
    font-family: PingFangSC-Medium;
    font-size: 34rpx;
    color: #111111;
    letter-spacing: 0;
    text-align: center;
}
.at-nav-bar{
    background: none;
}
.nav-title{
    height: 135rpx;
    font-size: 32rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}